# SQL Server
DB_DRIVER=ODBC Driver 18 for SQL Server
# TCP/IP puede estar deshabilitado en una instalacion local.
# lpc:localhost usa memoria compartida y no requiere el puerto 1433.
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=yes

# Cada dominio puede estar en otro servidor o usar otras credenciales.
# Usa DB_TRUSTED_CONNECTION=yes si SQL Server utiliza autenticacion Windows.

# IDENTIDAD
IDENTIDAD_DB_HOST=lpc:localhost
IDENTIDAD_DB_PORT=1433
IDENTIDAD_DB_USER=sa
IDENTIDAD_DB_PASSWORD=tu_password
IDENTIDAD_DB_NAME=v2sulpaa_identidad_db
IDENTIDAD_DB_TRUSTED_CONNECTION=yes

# COMERCIO
COMERCIO_DB_HOST=lpc:localhost
COMERCIO_DB_PORT=1433
COMERCIO_DB_USER=sa
COMERCIO_DB_PASSWORD=tu_password
COMERCIO_DB_NAME=v2sulpaa_comercio_db
COMERCIO_DB_TRUSTED_CONNECTION=yes

# INVENTARIO
INVENTARIO_DB_HOST=lpc:localhost
INVENTARIO_DB_PORT=1433
INVENTARIO_DB_USER=sa
INVENTARIO_DB_PASSWORD=tu_password
INVENTARIO_DB_NAME=v2sulpaa_inventario_db
INVENTARIO_DB_TRUSTED_CONNECTION=yes

# OPERACIONES
OPERACIONES_DB_HOST=lpc:localhost
OPERACIONES_DB_PORT=1433
OPERACIONES_DB_USER=sa
OPERACIONES_DB_PASSWORD=tu_password
OPERACIONES_DB_NAME=v2sulpaa_operaciones_db
OPERACIONES_DB_TRUSTED_CONNECTION=yes

# Aplicacion
SECRET_KEY=coloca-una-clave-segura
APISPERU_TOKEN=coloca-tu-token
