# Entorno virtual
venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.py[cod]

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Archivos temporales
*.tmp